<!DOCTYPE html>
<html lang="vi" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template Admin</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<header>
    <div th:replace="~{layout/header :: header}"></div>
</header>
<main>
    <section>
        <div class="content" layout:fragment="content"></div>
    </section>
</main>
<footer>
    <div th:replace="~{layout/footer :: footer}"></div>
</footer>
</body>
</html>
